:host {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #0cf;
  padding: 1rem;
  // position: absolute;
  // bottom: 0;
  // width: 100%;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 10px 0 10px;
}

i {
  font-size: 25px;
}

span {
  color: yellow;
}
